* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-left{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}

.conteiner{
    display: none;
}

